@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Space+Grotesk:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

.dark {
    width: 100%;
    height: 250px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, hsl(230, 96%, 62%) 0%, rgba(252,70,107,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards {
    position: relative;
}

.frontCard {
    position: absolute;
    top: 15px;
    left: -135px;
    z-index: 10;
    background: rgb(131,58,180);
    background: linear-gradient(103deg, rgb(189 56 102) 0%, rgba(253,29,29,1) 56%, rgba(252,176,69,1) 100%);
    box-shadow: 10px 5px 24px #ffffff;
    width: 201px;
    height: 121px;
    border-radius: 10px;
}

.circles {
    display: flex;
}

.whiteCircle {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%; 
}

.transparentCircle {
    position: absolute;
    top: 18px;
    left: 45px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%; 
}

.numDataCard {
    position: relative;
    width: 201px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.cardNumber {
    position: absolute;
    top: 60px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    width: auto;
    text-decoration: none;
}

.dataCard {
    position: absolute;
    top: 80px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #ffffff;
    
}

.backCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -9px;
    left: -77px;
    z-index: 9;
    background: rgb(214,198,226);
    background: linear-gradient(103deg, rgba(214,198,226,1) 0%, rgba(223,186,199,9.9164040616246498) 56%, rgba(157,128,126,1) 100%);
    box-shadow: 10px 5px 24px #ffffff;
    width: 201px;
    height: 121px;
    border-radius: 10px; 
}

.lineBlack {
    width: 201px;
    height: 22px;
    background-color: #2f2d2d;
    position: absolute;
    top: 20px;
}

.lineGrey {
    position: absolute;
    top: 49px;
    width: 132px;
    height: 24px;
    background-color: rgb(121, 121, 121);
    border-radius: 3px;
    text-align: end;
    padding: 5px;
    font-size: 12px;
    color: #d1c8c8;
}

.light {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 90%;
    height: auto;
    margin-top: 25px;
    border-radius: 10px;
}

#formCard {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.infoCard {
    display: flex;
    flex-direction: column;
}

.infoCard label {
    margin-top: 15px;
}

.infoDate {
    margin-top: 16px;
}

.infoCard input, .infoDate input{
    margin: 11px 0 6px 0;
    padding: 0.75rem;
    border: 1px solid  hsl(279, 6%, 55%);
    border-radius: 10px;
}

.infoDate, .cvc {
    display: flex;
    flex-direction: column;
}

.monthAndYear {
    display: flex;
    flex-direction: column;
    
}


#month, #year, #cvc {
    width: 130px;
}

#month {
    margin-right: 10px;
}

.confirm, .back {
    margin-top: 16px;
    padding: 0.75rem;
    border: transparent;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

.confirm {
    width: 100%;
}

#back {
    width: 200px;
}

#hidden, .hidden {
    display: none;
}

#noHidden {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    border-color: red !important;
}

.showError {
    display: block;
    color: red;
    font-size: 12.5px;
}

.secondForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.secondForm img, h1, p {
    margin-bottom: 15px;
}

@media (min-width: 375px) {
    .infoDate {
        flex-direction: row;
        justify-content: space-between;
    }

    .monthAndYear {
        display: flex;
        flex-direction: row;
        
    }
    #month, #year, #cvc {
        width: 85px;
    }

    #month {
        margin-right: 10px;
    }
    
}

@media(min-width: 393px) {
    #cvc {
        width: 100px;
    }
}

@media (min-width: 750px) {
    .container {
        display: flex;
    }

    .dark {
        position: relative;
        width: 428px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .frontCard {
        top: -167px;
        left: -114px;
        width: 277px;
        height: 167px;
    }

    .whiteCircle {
        width: 34px;
        height: 34px;   
    }
    
    .transparentCircle {
        top: 20px;
        left: 56px;
        width: 20px;
        height: 20px;
    }

    .numDataCard {
        width: 277px;
        top: 44px;
        
    }

    .cardNumber {
        font-size: 20px; 
    }

    .dataCard { 
        top: 83px;
        width: 228px;   
    }

    .lineBlack {
        width: 277PX;
    }

    .lineGrey {
        width: 167px;
    }

    .backCard {
        top: 21px;
        left: -93px;
        width: 277px;
        height: 167px;    
    }
    
    .light {
        width: 100%;
        height: 100vh;
        align-items: center;
    }

    .form, .form input {
        width: 85%;
        font-size: 20px;
    }

    .infoDate {
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
    }

    
}

@media(min-width: 1024px) {
    .dark {
        width: 800px;
    }

    .frontCard {
        top: -245px;
        left: -18px;
        width: 351px;
        height: 203px;
    }

    .numDataCard {
        width: 277px;
        top: 44px;
        
    }

    .cardNumber {
        font-size: 27px;
    }

    .numDataCard {
        width: 351px;
    }

    .dataCard { 
        top: 94px;
        width: 287px;
        font-size: 20px; 
    }

    .backCard {
        top: -17px;
        left: 29px;
        width: 351px;
        height: 203px;    
    }

    .lineBlack {
        width: 351px;
        height: 39px;
    }

    .lineGrey {
        width: 207px;
        top: 71px;
        font-size: 20px;
        height: 32px;
    }

    .form {
        width: 50%;
    }
    .infoCard input {
        width: 387px;
    }
    .infoDate {
        flex-direction: row;
        justify-content: flex-start;
    }

    .expirationDate {
        margin-right: 40px;
    }

    .buttonConfirm {
        display: flex;
        justify-content: center;
        width: 387px;
    }

    #confirm {
        width: 200px;
    }
}